.list {
  display: flex;
  flex-wrap: wrap;

  .thumbnail {
    background-color: #eee;
    border: #666 solid 1px;
    border-radius: 0.5em;
    overflow: hidden;
    margin: 20px;
    width: 20em;
    cursor: pointer;
    user-select: none;

    &:not(:hover) {
      transition: transform 0.2s;
    }

    img {
      width: 100%;
      border-radius: 0.5em 0.5em 0 0;
      pointer-events: none;
    }

    .label {
      color: #303030;
      text-align: center;
      text-transform: uppercase;
      font-size: 14px;
      display: block;
      margin: 10px;
      pointer-events: none;
    }
  }
}
